extends layout

block content
	section.panel
		div.row
			section.large-8.large-centered.columns
				if error
					div.alert-box.alert(data-alert)= error
						a.close(href='#') &times;
				if success
					div.alert-box.success(data-alert)= success
						a.close(href='#') &times;
				header
					h1.text-center.first Passwordless
					h3.subheader.text-center Token-based authentication middleware for Express &amp; Node.js 
					p
						code $ npm install passwordless --save
					p Passwords are broken. Inspired by 
						a(href='http://twitter.com/ninjudd') Justin Balthrop's 
						| article 
						cite 
							a(href='https://medium.com/@ninjudd/passwords-are-obsolete-9ed56d483eb') Passwords are Obsolete
						|  Passwordless is faster to deploy, better for your users, and more secure.
				section
					if !user
						form(action='/account/sendtoken', method='POST')
							h3 Curious how it works? Give it a spin!
							p We will only use your email to send out the token. Still don't want to give your personal email? Simply use a  
								a(href='http://mailinator.com/') disposable address
							label(for='email') Email
							if validation && validation.user
								label.error(for='email') #{validation.user.msg}
							input(id='email', name='user', type='email', placeholder='email@example.com', 
								maxlength=200, minlength=1,
								value='#{ (validation && validation.user && validation.user.value) || "" }')
							input.button.small(type='submit', value='Login or Register')
	section.row
		div.large-8.large-centered.columns
			include content/index.html
